.react-calendar__month-view__weekdays {
    text-align: center;
    color: #949494;
}

.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.3;
  }

.react-calendar__month-view__days__day--weekend {
    color: #dfdfdf;
}

.react-calendar__tile--range {
    box-shadow: 0 0 6px 2px black;
}

.react-calendar__year-view__months, 
.react-calendar__decade-view__years, 
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 20% 20% 20% 20% 20%;

  &.react-calendar__year-view__months {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .react-calendar__tile {
    max-width: initial !important;
  }

  button {
    width: 90%;
    height: 50px;
    margin: 3px;
    background-color: transparent;
    // box-shadow: 0 4px 4px rgba(#332F2F, 0.1);
    border: 0;
    border-radius: 20px;
    color: black;
    padding: 5px 0;
    font-size: 18px;
    outline: 0;
    box-shadow: none;

    &:hover {
        background-color: rgba(#DA4359, 0.2);
     }

     &:focus {
         outline: 0;
         box-shadow: none;
      }

     &:disabled {
         background-color: #d4d4d4;
     }
  }
}

.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    
    .react-calendar__tile {
      max-width: initial !important;
    }

    .react-calendar__tile--range {
        border-style: solid;
        border-width: 2px;
        border-color: #DA4359;
        //box-shadow: 0 0 6px 2px #DA4359;
    }
    
    button {
        width: 50px;
        height: 50px;
        margin: auto;
        background-color: transparent;
        // box-shadow: 0 4px 4px rgba(#332F2F, 0.1);
        border: 0;
        border-radius: 25px;
        color: black;
        padding: 5px 0;
        font-size: 18px;

        outline: 0;
        box-shadow: none;
    
        &:hover {
            border-style: solid;
            border-width: 2px;
            border-color: #DA4359;
        }

        &:focus {
            outline: 0;
            box-shadow: none;
         }

        &:disabled
        {
            background-color: #d4d4d4;
        }
    }
}

.react-calendar__navigation {
    display: flex;
    
    button {
        margin: 3px;
        background-color: transparent;
        border: 0;
        border-radius: 6px;
        color: black;
        padding: 5px 0;
        font-size: 18px;
    
        &:hover {
           background-color: rgba(#DA4359, 0.2);
        }

        &:focus {
            outline: 0;
            box-shadow: none;
         }

        &:disabled {
            background-color: #d4d4d4;
        }
    }
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
  }
